{{/* getPatreonURL, for the Log in buttons of every page that offers one. */}}
{{define "patreon-login-script"}}
<script type="text/javascript">
    // Build the Patreon OAuth URL at click time so the current page rides
    // along in the state param; the Auth callback redirects back to it after
    // authorizing, instead of dropping the user on the homepage.
    function getPatreonURL(patreonId, client) {
        return "https://www.patreon.com/oauth2/authorize?response_type=code&client_id=" + patreonId + "&redirect_uri={{.PatreonURL}}&scope=identity%20identity%5Bemail%5D%20campaigns%20campaigns.members&state=" + encodeURIComponent(window.location.pathname + window.location.search + window.location.hash + ";" + client);
    }
</script>
{{end}}
