<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css?hash={{.Hash}}">
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <title>{{.Title}}</title>

    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ff0000">
</head>

<body class="light-theme">
<script type="text/javascript" src="/js/themechecker.js?hash={{.Hash}}"></script>
<script type="text/javascript" src="/js/filtering.js?hash={{.Hash}}"></script>
<nav>
    <ul>
        <li><a href="https://www.patreon.com/mtgban"><img src="/img/misc/patreon.png" width=48></a></li>
        <li {{if .PatreonLogin}}style="display:none"{{end}}><a href="/discord"><img src="/img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span class="full-text">{{.Short}} {{.Name}}</span>
                    <span class="short-text">{{.Short}}</span>
                </a>
            </li>
        {{end}}
        {{if .ExtraNav}}
            {{$showSealedMenu := false}}
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Select store</button>
                    <div class="dropdown-content">
                        {{range .ExtraNav}}
                            {{if not (contains .Name "Sealed")}}
                                <a href="{{.Link}}">{{.Name}}</a>
                            {{else}}
                                {{$showSealedMenu = true}}
                            {{end}}
                        {{end}}
                    </div>
                </div>
            </li>
            {{if $showSealedMenu}}
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Select sealed</button>
                        <div class="dropdown-content">
                            {{range .ExtraNav}}
                                {{if contains .Name "Sealed"}}
                                    <a href="{{.Link}}">{{.Name}}</a>
                                {{end}}
                            {{end}}
                        </div>
                    </div>
                </li>
            {{end}}
        {{end}}
        <li>
            <label class="switch">
                <div>
                    <input type="checkbox"/>
                    <span class="slider"></span>
                </div>
                <script type="text/javascript" src="/js/nightmode.js?hash={{.Hash}}"></script>
            </label>
        </li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
    {{else if eq .Title "Options"}}
        <script type="text/javascript" src="/js/cookies.js?hash={{.Hash}}"></script>
        <br>

        {{$cookieName := "ArbitVendorsList"}}
        {{if .ReverseMode}}
            {{$cookieName = "ReverseVendorsList"}}
        {{else if .GlobalMode}}
            {{$cookieName = "GlobalVendorsList"}}
        {{end}}

        <script type="text/javascript">
            window.onload = function(e) {
                loadForm("GlobalEditionList", "editions");
                loadForm("{{$cookieName}}", "vendors");
            }
        </script>

        <div class="indent">
            <h2>Vendors list</h2>
            Select which vendors you <b>don't</b> want to display in your global tool.
            <br>

            <a class="btn warning" onclick="javascript:clearForm('vendors');"><b>CLEAR</b></a>
            <a class="btn success" onclick="javascript:saveForm('{{$cookieName}}', 'vendors'); window.location.href = '?'"><b>SAVE</b></a>
        </div>

        <br>
        <div class="indent row">
            <div class="column" id="vendors">
                {{range $i, $key := .VendorKeys}}
                    <input type="checkbox" id="{{$key}}" name="{{$key}}">
                    <label for="{{$key}}">
                        {{scraper_name $key}}
                        {{if (contains $key "Sealed")}}
                            <i>(Sealed)</i>
                        {{end}}
                    </label>
                    <br>
                {{end}}
            </div>
        </div>

        <br>
        <div class="indent">
            <h2>Edition list</h2>
            Select which editions you <b>don't</b> want to display in your global tool.
            <br>

            <a class="btn warning" onclick="javascript:clearForm('editions');"><b>CLEAR</b></a>
            <a class="btn success" onclick="javascript:selectAll('editions');"><b>SELECT ALL</b></a>
            <a class="btn success" onclick="javascript:saveForm('GlobalEditionList', 'editions'); window.location.href = '/global'"><b>SAVE</b></a>
        </div>

        <div class="indent row" id="editions">
            {{range $i, $key := .Editions}}
                {{if triple_column_start $i (len $.Editions)}}
                    <div class="column">
                {{end}}

                {{$edition := index $.EditionsMap $key}}
                {{if $edition}}
                <input type="checkbox" id="{{$key}}" name="{{$key}}">
                <label for="{{$key}}">
                    <i class="ss ss-{{$edition.Keyrune}} ss-2x ss-fw"></i>
                    {{$edition.Name}}
                </label>
                <br>
                {{end}}

                {{if triple_column_end $i (len $.Editions)}}
                    </div>
                {{end}}
            {{end}}
        </div>

    {{else if eq .ScraperShort ""}}
        <h1>Welcome to {{.Title}}<a name="top">&nbsp;</a></h1>
        <div class="indent">
            {{if .GlobalMode}}
                <p>Please use the top bar to choose the index to compare from.</p>
            {{else if .ReverseMode}}
                <p>Please use the top bar to choose the vendor to sell to.</p>
            {{else}}
                <p>Please use the top bar to choose the seller to buy from.</p>
            {{end}}
            <p><a href="?page=options">Set options</a></p>

            <h2>Instructions</h2>
            <ul class="indent">
                <li>Data is refreshed periodically over the day.</li>
                <li>There is a minimum spread and difference amount for a card to be included in the list.</li>
                <li>Always check validity of prices before committing anything, it is possible that prices or quantities changed.</li>
                <li>By default, arbitrage is computed on cash value, taking into account for condition whenever possible.</li>

                {{if .GlobalMode}}
                    <li>Each page will provide a list of cards that can be arbitraged from, according to the value reported from other markets.</li>
                {{else}}
                    <li>Note that buylist prices are always displayed NM to make them easier to find, but the actual spread and difference is computer according to the card conditions.</li>
                    <li>Each {{if .ReverseMode}}vendor{{else}}seller{{end}} page will contain a list of {{if .ReverseMode}}sellers{{else}}vendors{{end}}, with a brief summary at the top containing the number of arbitrage opportunities.</li>
                {{end}}
                <li>In case of mistakes or incongruities, please notify the devs in the BAN Discord.</li>
                <li>Should you find this content useful, consider clicking on one of the provided links to make a purchase on the website, and directly support BAN.</li>
            </ul>
        {{if ne .InfoMessage ""}}
            <br>
            <h2><p>{{.InfoMessage}}</p></h2>
        {{end}}
        </div>
    {{else}}
        <img id="hoverImage" class="hoverImage" src=""/>
        <script type="text/javascript" src="/js/followmouse.js?hash={{.Hash}}"></script>
        <script type="text/javascript" src="/js/copy2clip.js?hash={{.Hash}}"></script>
        <script type="text/javascript" src="/js/updatesearch.js?hash={{.Hash}}"></script>

        <h1>{{.Title}}</h1>

        <div class="indent">
            <div class="indent" style="max-width: 85%;">
                {{if .LargeTable}}
                    <br>
                    {{else}}
                    <p>
                        Jump to
                        {{if .Arb}}
                            {{range .Arb}}
                                <a class="btn normal" href="#{{.Name}}">{{.Name}} ({{len .Arbit}})</a>
                            {{end}}
                        {{else}}
                            <a class="btn normal" href="javascript:history.back()">¯\_(ツ)_/¯</a>
                        {{end}}
                    </p>
                    <p>
                        Show
                        {{range $.ArbitOptKeys}}
                            {{$key := .}}
                            {{$skipIfTesting := and (index $.ArbitOptConfig .).BetaFlag (not $.CanShowAll)}}
                            {{$skipIfGlobal := and (index $.ArbitOptConfig .).ArbitOnly $.GlobalMode}}
                            {{$skipIfArbit := and (index $.ArbitOptConfig .).GlobalOnly (not $.GlobalMode)}}
                            {{$skipIfSealed := and (index $.ArbitOptConfig .).NoSealed $.IsSealed}}
                            {{$skipIfNotSealed := and (index $.ArbitOptConfig .).SealedOnly (not $.IsSealed)}}
                            {{if and (and (not $skipIfTesting) (not $skipIfGlobal)) (and (and (not $skipIfNotSealed) (not $skipIfSealed)) (not $skipIfArbit))}}
                                {{$cfg := index $.ArbitOptConfig .}}
                                {{if $cfg}}
                                    {{$name := $cfg.Title}}
                                    <a class="btn {{if index $.ArbitFilters .}}success{{else}}normal{{end}}" href="?source={{$.ScraperShort}}&sort={{$.SortOption}}&{{range $.ArbitOptKeys}}{{$val := index $.ArbitFilters .}}{{.}}={{if eq . $key}}{{not $val}}{{else}}{{$val}}{{end}}&{{end}}">{{$name}}</a>
                                {{end}}
                            {{end}}
                        {{end}}
                    </p>
                {{end}}
                <p>
                    Filter by &nbsp; <input type="text" id="filterInput" onkeyup="filterTableByEdition()" placeholder="Edition...">
                </p>
            </div>

            {{if ne .InfoMessage ""}}
                <h2><p>{{.InfoMessage}}</p></h2>
            {{end}}

            <script type='text/javascript'>
                function sortBy(sort, name) {
                    {{if eq $.ScraperShort "SYP"}}
                        window.location.href = "?page=syp&sort=" + sort + "#" + name;
                        return;
                    {{end}}
                    window.location.href = "?&source={{$.ScraperShort}}&{{range $.ArbitOptKeys}}{{$val := index $.ArbitFilters .}}{{.}}={{$val}}&{{end}}sort=" + sort + "#" + name;
                }

                function getAllDirectQuantitiesFor(scraper) {
                    const delay = ms => new Promise(res => setTimeout(res, ms));
                    let run;
                    {{range $arb := .Arb}}
                        {{$scraperKey := $arb.Key}}
                        {{if $.ReverseMode}}
                            {{$scraperKey = $.ScraperShort}}
                        {{end}}
                        {{$entries := $arb.Arbit}}
                        if (scraper === {{$scraperKey}}) {
                            run = async () => {
                                {{range $entries}}
                                    getDirectQty(null, {{.CardId}});
                                    await delay(1000);
                                {{end}}
                            }
                        }
                    {{end}}
                    run();
                }
            </script>

            {{range $i, $arb := .Arb}}
                <span class="anchor" id="{{.Name}}"></span>
                <div class="sticky" style="top: 48px; background-color: var(--background);">
                    <a href="#top">
                        <h3 class="storename">{{.Name}}</h3>
                    </a>
                    &nbsp;
                    {{if lt (inc $i 1) (len $.Arb)}}
                        {{$nextIndex := inc $i 1}}
                        {{$next := index $.Arb $nextIndex}}
                        <a href="#{{$next.Name}}">
                            <i class="arrow down"></i>
                        </a>
                    {{end}}
                    {{if gt $i 0}}
                        {{$prevIndex := dec $i 1}}
                        {{$prev := index $.Arb $prevIndex}}
                        <a href="#{{$prev.Name}}">
                            <i class="arrow up"></i>
                        </a>
                    {{end}}

                    {{$scraperKey := $arb.Key}}
                    {{$sourceKey := $.ScraperShort}}
                    {{if $.ReverseMode}}
                        {{$scraperKey = $.ScraperShort}}
                        {{$sourceKey = $arb.Key}}
                    {{end}}
                    {{$entries := $arb.Arbit}}

                    {{if eq $sourceKey "CK"}}
                        <form action="https://www.cardkingdom.com/builder?utm_campaign={{load_partner $sourceKey}}&utm_medium=arbit&utm_source={{load_partner $sourceKey}}" method="post" id="{{$sourceKey}}{{$scraperKey}}deckbuilder" style="display: inline;" target="_blank">
                            <input type="hidden" name="partner" value="{{load_partner $sourceKey}}"/>
                            <input type="hidden" name="c" value="{{range $entries}}{{if .Quantity}}{{.Quantity}}{{else}}1{{end}} {{(index $.Metadata .CardId).Name}}||{{end}}"/>
                            <a class="btn success" style="text-align: center;" href='javascript:void(0)' onclick='document.getElementById("{{$sourceKey}}{{$scraperKey}}deckbuilder").submit();'>Load at {{$sourceKey}}</a>
                            <noscript>
                                <input type="submit" value="Load at {{$sourceKey}}"/>
                            </noscript>
                        </form>
                    {{else if eq $sourceKey "CSI"}}
                        <form action="https://www.coolstuffinc.com/main_deckBuilder.php" method="post" id="{{$sourceKey}}{{$scraperKey}}deckbuilder" style="display: inline;" target="_blank">
                            <input type="hidden" name="partner" value="{{load_partner $sourceKey}}"/>
                            <input type="hidden" name="sList" value="{{range $entries}}{{if .Quantity}}{{.Quantity}}{{else}}1{{end}} {{(index $.Metadata .CardId).Name}}|{{end}}"/>
                            <a class="btn success" style="text-align: center;" href='javascript:void(0)' onclick='document.getElementById("{{$sourceKey}}{{$scraperKey}}deckbuilder").submit();'>Load at {{$sourceKey}}</a>
                            <noscript>
                                <input type="submit" value="Load at {{$sourceKey}}"/>
                            </noscript>
                        </form>
                    {{else if has_prefix $sourceKey "TCG"}}
                        <form action='https://api.tcgplayer.com/massentry' method="post" id="{{$sourceKey}}{{$scraperKey}}deckbuilder" style="display: inline;" target="_blank">
                            <input type="hidden" name="affiliateurl" value='https://tcgplayer.pxf.io/c/{{load_partner "TCG"}}/1830156/21018'/>
                            <input type="hidden" name="c" value="{{range $entries}}{{if .Quantity}}{{.Quantity}}{{else}}1{{end}}-{{uuid2tcgid .CardId}}||{{end}}"/>
                            <a class="btn success" style="text-align: center;" href='javascript:void(0)' onclick='document.getElementById("{{$sourceKey}}{{$scraperKey}}deckbuilder").submit();'>Load at TCG</a>
                            <noscript>
                                <input type="submit" value="Load at TCG"/>
                            </noscript>
                        </form>
                    {{end}}
                    {{if eq $sourceKey "MP"}}
                        {{$deck := ""}}
                        {{range $entries}}
                            {{$card := (index $.Metadata .CardId)}}
                            {{$qty := 1}}
                            {{if .Quantity}}
                                {{$qty = .Quantity}}
                            {{end}}
                            {{$entry := printf "%d %s [%s] %s" $qty $card.Name $card.SetCode $card.Number}}
                            {{if eq $deck ""}}
                                {{$deck = $entry}}
                            {{else}}
                                {{$deck = printf "%s\n%s" $deck $entry}}
                            {{end}}
                        {{end}}
                        <form action="https://manapool.com/add-deck" method="get" id="{{$sourceKey}}{{$scraperKey}}deckbuilder" style="display: inline;" target="_blank">
                            <input type="hidden" name="partner" value="{{load_partner $sourceKey}}"/>
                            <input type="hidden" name="deck" value="{{base64enc $deck}}"/>
                            <a class="btn success" style="text-align: center;" href='javascript:void(0)' onclick='document.getElementById("{{$sourceKey}}{{$scraperKey}}deckbuilder").submit();'>Load at Manapool</a>
                            <noscript>
                                <input type="submit" value="Load at Manapool"/>
                            </noscript>
                        </form>
                    {{end}}

                    {{if eq $scraperKey "CK"}}
                        <form action="https://www.cardkingdom.com/sellcart/partner_import" method="post" id="{{$scraperKey}}blhashes" style="display: inline;" target="_blank">
                            <input type="hidden" name="json" value='
                                {"contents": [
                                    {{range $entries}}
                                    {
                                       "id": {{uuid2ckid .CardId}},
                                       "qty": {{if .Quantity}}{{.Quantity}}{{else}}1{{end}}
                                    },
                                    {{end}}
                                    {}
                                ]}'/>
                            <input type="hidden" name="partner" value="{{load_partner $scraperKey}}"/>
                            <a class="btn warning" style="text-align: center;" href='javascript:void(0)' onclick='document.getElementById("{{$scraperKey}}blhashes").submit();'>Load buylist at {{$scraperKey}}</a>
                            <noscript>
                                <input type="submit" value="Download {{$scraperKey}} CSV"/>
                            </noscript>
                        </form>
                    {{end}}

                    {{if or (eq $scraperKey "CK") (eq $scraperKey "SCG")}}
                        <form action="/upload" method="post" id="{{$scraperKey}}{{$sourceKey}}hashes" style="display: inline;">
                            <input type="hidden" name="tag" value="{{$scraperKey}}"/>
                            <input type="hidden" name="mode" value="false"/>
                            {{range $entries}}
                                <input type="hidden" name="{{$scraperKey}}hashes" value="{{.CardId}}"/>
                                <input type="hidden" name="{{$scraperKey}}hashesQtys" value="{{if .Quantity}}{{.Quantity}}{{else}}1{{end}}"/>
                            {{end}}
                            <a class="btn success" style="text-align: center;" href='javascript:void(0)' onclick='document.getElementById("{{$scraperKey}}{{$sourceKey}}hashes").submit();'>Download {{$scraperKey}} CSV</a>
                            <noscript>
                                <input type="submit" value="Download {{$scraperKey}} CSV"/>
                            </noscript>
                        </form>
                    {{end}}

                    <!--
                    {{if eq $sourceKey "TCGDirect"}}
                        <span class="emoji" style="cursor: pointer;" onclick='getAllDirectQuantitiesFor({{$scraperKey}}); this.setAttribute("onclick", "javascript:void(0)")' title="Update ALL quantities for TCG Direct">⚡️</span>
                    {{end}}
                    -->

                    <hr width=20%>
                </div>

                <table class="filterable" onmouseout="document.getElementById('hoverImage').src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';">
                    <tr>
                        <th class="stickyHeaderTiny">
                            <a href="javascript:sortBy('alpha', '{{.Name}}')">Card Name</a>
                        </th>
                        <th class="stickyHeaderTiny">
                            <a href="javascript:sortBy('edition', '{{.Name}}')">Edition</a>
                        </th>
                        {{if not $.IsSealed}}
                            <th class="stickyHeaderTiny"><center>#</center></th>
                        {{end}}
                        <th class="stickyHeaderTiny">
                            {{if $.IsSealed}}Decklist{{else}}Finish{{end}}
                        </th>
                        {{if not .HasNoConds}}
                            <th class="stickyHeaderTiny">Condition</th>
                        {{end}}
                        {{if not .HasNoQty}}
                            <th class="stickyHeaderTiny">
                                <a href="javascript:sortBy('available', '{{.Name}}')">Quantity</a>
                            </th>
                        {{end}}
                        <th class="stickyHeaderTiny">
                            <a href="javascript:sortBy('sell_price', '{{.Name}}')">
                                {{if and $.GlobalMode}}
                                    {{if $.IsSealed}}
                                        {{.Name}}
                                    {{else}}
                                        {{$.ScraperShort}}
                                    {{end}}
                                {{else}}
                                    Sell Price
                                {{end}}
                            </a>
                        </th>
                        {{if not .HasNoPrice}}
                            <th class="stickyHeaderTiny">
                                <a href="javascript:sortBy('buy_price', '{{.Name}}')">
                                    {{if and $.GlobalMode}}
                                        {{if $.IsSealed}}
                                            {{$.ScraperShort}}
                                        {{else}}
                                            {{.Name}}
                                        {{end}}
                                    {{else}}
                                        Buy Price
                                    {{end}}
                                </a>
                            </th>
                        {{end}}
                        {{$save := .}}
                        {{if not .HasNoCredit}}
                            <th class="stickyHeaderTiny">
                                <a href="javascript:sortBy('buy_price', '{{.Name}}')">Trade Price</a>
                            </th>
                        {{end}}
                        {{if not .HasNoArbit}}
                            <th class="stickyHeaderTiny">
                                <a href="javascript:sortBy('profitability', '{{.Name}}')">Profitability</a>
                            </th>
                            <th class="stickyHeaderTiny">
                                <a href="javascript:sortBy('diff', '{{.Name}}')">Difference</a>
                            </th>
                            <th class="stickyHeaderTiny">
                                <a href="javascript:sortBy('spread', '{{.Name}}')">Spread</a>
                            </th>
                            {{if not $.GlobalMode}}
                                <th class="stickyHeaderTiny">Price Ratio</th>
                            {{end}}
                        {{end}}
                        <th class="stickyHeaderTiny"><center>Quicklinks</center></th>
                    </tr>
                    {{$arbitContainer := .}}
                    {{range .Arbit}}
                        {{$card := (index $.Metadata .CardId)}}
                        <tr onmouseover="document.getElementById('hoverImage').src='{{(index $.Metadata .CardId).ImageURL}}';">
                            <td>
                                {{if $card.Sealed}}
                                <a href='/search?q={{if $card.Booster}}contents{{else}}decklist{{end}}:"{{$card.Name}}"' title="Search what can be found in this product">
                                    <span class="emoji">🔎</span>
                                </a>&nbsp;
                                {{else}}
                                    <span class="emoji" style="cursor: pointer;" onclick="copyAndBlink(this, '{{(index $.Metadata .CardId).Name}}')" title="Copy to clipboard">📝</span>&nbsp;
                                    <!--
                                    {{if eq $sourceKey "TCGDirect"}}
                                        <span class="emoji" style="cursor: pointer;" onclick="getDirectQty(this, '{{.CardId}}')" title="Update quantities for TCG Direct" id="directqty-{{.CardId}}">⚡️</span>
                                    {{end}}
                                    -->
                                {{end}}
                                <a href="{{(index $.Metadata .CardId).SearchURL}}">{{(index $.Metadata .CardId).Name}}</a>
                                {{if (index $.Metadata .CardId).Reserved}} *{{end}}
                                {{if (index $.Metadata .CardId).Stocks}} •{{end}}
                                {{if not (eq $.ScraperShort "SYP")}}
                                    {{if (index $.Metadata .CardId).SypList}} †{{end}}
                                {{end}}
                            </td>
                            <td>
                                {{$keyrune := (index $.Metadata .CardId).Keyrune}}
                                {{if $keyrune}}
                                    <i class="ss {{$keyrune}} ss-1x ss-fw"></i> {{(index $.Metadata .CardId).Edition}}
                                {{else}}
                                    <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                                        <circle r="15" cx="16" cy="16" fill="var(--normal)"/>
                                        <text font-size="20" x="50%" y="60%" text-anchor="middle" fill="var(--background)">{{$card.SetCode}}</text>
                                    </svg>
                                {{end}}
                            </td>
                            {{if not $.IsSealed}}
                                <td>
                                    {{(index $.Metadata .CardId).Number}}
                                </td>
                            {{end}}
                            <td>
                                {{if $card.HasDeck}}
                                    <center title="Decklist">🎁</center>
                                {{else if $card.Etched}}
                                    <center title="Etched">💫</center>
                                {{else if $card.Foil}}
                                    <center title="Foil">✨</center>
                                {{end}}
                            </td>
                            {{if not $save.HasNoConds}}
                                <td>
                                    <center>{{.InventoryEntry.Conditions}}</center>
                                </td>
                            {{end}}
                            {{if not $save.HasNoQty}}
                                <td style="text-align: center" {{if eq $sourceKey "TCGDirect"}}id="qty-{{$sourceKey}}-{{.InventoryEntry.Conditions}}-{{.CardId}}"{{end}}>
                                    {{.InventoryEntry.Quantity}}
                                    {{if ne .BuylistEntry.Quantity 0}}
                                        / {{.BuylistEntry.Quantity}}
                                    {{end}}
                                </td>
                            {{end}}
                            <td>
                                $ {{printf "%.2f" .InventoryEntry.Price}}
                            </td>
                            {{if not $save.HasNoPrice}}
                                <td>
                                    {{if eq .BuylistEntry.BuyPrice 0.0}}
                                        $ {{printf "%.2f" .ReferenceEntry.Price}}
                                        {{if (isSussy $arbitContainer.SussyList .CardId)}}
                                            {{$susPrice := (index $arbitContainer.SussyList .CardId)}}
                                            <span class=emoji title="CAUTION - This price looks a bit off, {{if $.IsSealed}}the contents of this product have a very uneven distribution, and simulation or data may be wrong (IQR: {{printf "%.2f" $susPrice}}){{else}}TCG Market is {{if $susPrice}}${{printf "%.2f" $susPrice}}{{else}}missing{{end}}{{end}}">‼️ </span>
                                        {{end}}
                                    {{else}}
                                        $ {{printf "%.2f" .BuylistEntry.BuyPrice}}
                                    {{end}}
                                </td>
                            {{end}}
                            {{if not $save.HasNoCredit}}
                                <td>
                                    $ {{printf "%.2f" (mulf .BuylistEntry.BuyPrice $save.CreditMultiplier)}}
                                </td>
                            {{end}}
                            {{if not $save.HasNoArbit}}
                                <td>
                                    <center>
                                        {{if gt .Spread 0.0}}
                                            {{printf "%.2f" .Profitability}}
                                        {{else}}
                                            n/a
                                        {{end}}
                                    </center>
                                </td>
                                <td>
                                    $ {{printf "%.2f" .Difference}}
                                </td>
                                <td>
                                    {{printf "%.2f" .Spread}} %
                                </td>
                                {{if not $.GlobalMode}}
                                    <td>
                                        <center>
                                        {{printf "%.2f" .BuylistEntry.PriceRatio}} %
                                        </center>
                                    </td>
                                {{end}}
                            {{end}}
                            <td>
                                <center>
                                    {{if ne .InventoryEntry.URL ""}}
                                        <a class="btn normal" href="{{.InventoryEntry.URL}}" target="_blank" rel="nofollow">Buy</a>
                                    {{end}}
                                    {{if ne .BuylistEntry.URL ""}}
                                        <a class="btn normal" href="{{.BuylistEntry.URL}}" target="_blank" rel="nofollow">Sell</a>
                                    {{end}}
                                    {{if not (and $.GlobalMode $card.Sealed)}}
                                        {{if ne .ReferenceEntry.URL ""}}
                                            <a class="btn normal" href="{{.ReferenceEntry.URL}}" target="_blank" rel="nofollow">Buy</a>
                                        {{end}}
                                    {{end}}
                                </center>
                            </td>
                        </tr>
                    {{end}}

                    {{if $.CurrentIndex}}
                        <tr style="background-color: var(--headerbackground);">
                            <td colspan="13" style="text-align: center; vertical-align: middle;">
                                <p style="display: inline;">
                                    {{if ne $.CurrentIndex 1}}
                                        <a class="pagination" href="?page=syp&p=1">&lt;</a>
                                        <a class="pagination" href="?page=syp&p={{$.PrevIndex}}"><i class="arrow left"></i></a>
                                    {{end}}
                                    {{$.CurrentIndex}} / {{$.TotalIndex}}
                                    {{if ne $.CurrentIndex $.TotalIndex}}
                                        <a class="pagination" href="?page=syp&p={{$.NextIndex}}"><i class="arrow right"></i></a>
                                        <a class="pagination" href="?page=syp&p={{$.TotalIndex}}">&gt;</a>
                                    {{end}}
                                </p>
                            </td>
                        </tr>
                    {{end}}

                    <tr style="background-color: var(--background);">
                        <td colspan=13>
                            <a class="btn default" style="float: right;" href="#top"><i class="arrow up"></i> back to top</a>
                        </td>
                    </tr>
                </table>
            {{end}}

            {{if .HasReserved}}
                <h4>* = Part of the <a href="https://mtg.gamepedia.com/Reserved_List">Reserved List</a></h4>
            {{end}}
            {{if .HasStocks}}
                <h4>• = On <a href="https://mtgstocks.com/interests">MTGStocks Interests</a> page</h4>
            {{end}}
            {{if .HasSypList}}
                <h4>† = Found in the <a href="https://help.tcgplayer.com/hc/en-us/articles/360054178934-Store-Your-Products-SYP-Pull-Sheet">SYP Pull Sheet</a></h4>
            {{end}}
        </div>
        <br>
        <p>
            {{if .HasAffiliate}}
                By visiting stores through the links on this page you're supporting the continuous development of this site ♥
            {{end}}
        </p>
        <br>
    {{end}}
</div>
</body>
</html>
