<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css?hash={{.Hash}}">
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <meta name='impact-site-verification' value='77b54a05-53ed-42d4-b087-cb40fa950018' />
    <title>{{.Title}}</title>

    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ff0000">

    {{if .PatreonLogin}}
        <script type="text/javascript" src="/js/autocomplete.js?hash={{.Hash}}"></script>
        <script type="text/javascript" src="/js/fetchnames.js?hash={{.Hash}}"></script>
    {{end}}
</head>

<body class="light-theme">
    <nav>
    <ul>
        <li><a href="https://www.patreon.com/mtgban"><img src="/img/misc/patreon.png" width=48></a></li>
        <li {{if .PatreonLogin}}style="display:none"{{end}}><a href="/discord"><img src="/img/misc/discord.png" width=48></a></li>
        <li style="display:none"><!--If you're reading this, and would like to help, join our Discord, it's the right place for any talented developer with a passion for card games!--></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span>{{.Short}} {{.Name}}</span>
                </a>
            </li>
        {{end}}
        <li>
            <label class="switch">
                <div>
                    <input id="theme-toggle" type="checkbox"/>
                    <span class="slider"></span>
                </div>
                <script type="text/javascript" src="/js/nightmode.js?hash={{.Hash}}"></script>
            </label>
        </li>
    </ul>
    </nav>

    <div class="bg">
        <div class="mainbody">
            {{if .PatreonLogin}}
                <div class="indent">
                    <form class="search autocomplete" action="search" autocomplete="off" spellcheck="false" id="searchform">
                        <input id="searchbox" class="w3-input w3-border w3-round-small search-input" onFocus="this.setSelectionRange(0, this.value.length)" type="text" name="q" placeholder="Quick price check" maxlength="1000" autofocus autocapitalize="none">
                    </form>
                </div>

                <script type="text/javascript">
                    autocomplete(document.getElementById("searchform"), document.getElementById("searchbox"), "false");
                </script>
            {{end}}
        </div>
    </div>

    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
    {{end}}

    <div class="indent">
        {{if .PatreonLogin}}
            <script type="text/javascript">
                function getPatreonURL(patreonId, client) {
                    return "http://www.patreon.com/oauth2/authorize?response_type=code&client_id=" + patreonId + "&redirect_uri={{$.PatreonURL}}&scope=identity%20identity%5Bemail%5D%20campaigns%20campaigns.members&state=" + encodeURIComponent(window.location.href + ";" + client);
                }
            </script>

            {{range $ref, $id := .PatreonIds}}
                <a href="javascript:window.location = getPatreonURL('{{$id}}', '{{$ref}}')">
                    <img src="/img/misc/login-{{$ref}}.png" width=360 height=60>
                </a>

                <noscript>
                    <a href="http://www.patreon.com/oauth2/authorize?response_type=code&client_id={{$id}}&redirect_uri={{$.PatreonURL}}&scope=identity%20identity%5Bemail%5D%20campaigns%20campaigns.members&state=;{{$ref}}">
                        Login without JavaScript enabled
                    </a>
                </noscript>
                <br>
            {{end}}
        {{else}}
            <a href="/?errmsg=logout"><img src="/img/misc/logout.png" width=236 height=60></a>
        {{end}}
    </div>

    <br>
    <div class="indent">
    Jump to &nbsp;<a href="https://mtgban.com">Magic: the Gathering</a> &nbsp;|&nbsp; <a href="https://lorcana.mtgban.com">Disney Lorcana</a>
    </div>

    <br>
    <div class="footer">&copy; 2019-2025 MTGBAN Inc<br>
        <br><hr width=30% style="border: 1px dotted;">
        Cookies may be in use to ensure correct functionality of the platform.<br>
        Content is provided for informational purpose only.<br>
    </div>
</body>
</html>
