{{define "extra-css"}}
    <link rel="stylesheet" type="text/css" href="/css/search.css?hash={{.Hash}}">
{{end}}

{{define "extra-head"}}
    <script type="text/javascript" src="/js/autocomplete.js?hash={{.Hash}}"></script>
    <script type="text/javascript" src="/js/fetchnames.js?hash={{.Hash}}"></script>
{{end}}

{{define "content"}}
<div class="search-landing">
    <div class="page-header">
        <h1>Welcome to {{.Title}}</h1>
    </div>
    <div class="search-bar-wrap" style="position:static; padding:0 24px 16px;">
        <div class="search-input-row">
            <form class="autocomplete" action="" autocomplete="off" spellcheck="false" id="searchform">
                <input id="searchbox" class="search-input" onFocus="this.setSelectionRange(0, this.value.length)" type="text" name="q" placeholder="Enter a card name" value="" maxlength="1000" autofocus autocapitalize="none">
            </form>
            <a class="search-surprise" href="/random">Surprise me</a>
        </div>
    </div>
    <script type="text/javascript">
        autocomplete(document.getElementById("searchform"), document.getElementById("searchbox"), "false");
    </script>
    {{template "syntax" .}}
</div>
{{end}}
